<h1>Good Reels</h1>
<p>Remember All the Movies You Watch!</p>
<% if logged_in? %>
    <p><%= link_to "Log out", logout_path, method: :delete %></p>
    <p><%= link_to "Settings", edit_user_path(current_user) %></p>
    <p><%= link_to "Delete Account", current_user, method: :delete, data: { confirm: "You sure?" } %></p>
    <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="shared/movie_form">
            <%= render 'shared/movie_form' %>
          </section>
        </aside>
     </div>
<%else%>
    <p><%= link_to "Let's get this party started!", signup_path %></p>
    <p><%= link_to "Already have an account?", login_path %></p>
<%end%>
