<li id="movie-<%= movie.id %>">
  <span class="user"><%= link_to movie.user.name, movie.user %></span>
  <span class="content"><%= movie.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(movie.created_at) %> ago.
  <%= link_to "delete", movie, method: :delete, data: { confirm: "You sure?" } %>
  </span>
</li>