<% provide(:title, 'Sign up') %>
<h1><%= link_to "Good Reels", "/" %></h1>
<h2>Sign up</h2>
<div class="h_line"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <fieldset>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      </p>
      <p>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </p>
      <p>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </p>
      <p>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </p>
      <div class="submit">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      </div>
    <% end %>
    </fieldset>
  </div>
</div>
<p class="small_text"> Already Have an Account? <%= link_to " Sign in here!", login_path%></p>
<p class = "tiny_text">© 2015 Shleew & Fuchs</p>